@import "tailwindcss";
@import "tailwindcss-primeui";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
}
.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    /* background: linear-gradient(135deg, #f0f9f4 0%, #e8f5e8 100%); */
}
